/* body {
  background-color: red;
} */

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* it make it small in the center of page  */
}
.animal-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
button {
  padding: 10px;
  width: 30%;
}
