/* give the toppest container the display flex and show in row  */
.container {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
/* give same size to images  */

.image-list {
  width: 1005;
  height: 200px;
}
